* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 10px;

}

@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

@media only screen and (orientation: portrait ) {
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.current {
  color: black;
}

body {
  font-family: 'Oxygen', sans-serif;
  background-image: linear-gradient(to top, white, darkgray);
  background-repeat: repeat-x;
  position: relative;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 10vm;
}

h2 {
  font-size: 7vm;
}

h3 {
  font-size: 5vm;
}

a:visited {
  color: black;
}

a:hover {
  color: darkcyan;
}

header, footer {
  right: 0;
  left: 0;
  position: fixed;
  background-color: #cccccc;
}

header {
  top: 0;
  clear: both;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;;
}

footer {
  font-size: 0.7em;
  color: darkgray;
  clear: both;
  height: 30px;
  bottom: 0;
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
