<!DOCTYPE>
<html lang="nl">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<header class="col-12">{% include navigation.html %}</header>
<div class="row col-12">
    <aside class="col-3">
        hallo
    </aside>
    <main class="col-9">
        {{ content }}
    </main>
</div>
<footer class="col-12">
    Door Floren de Gier
</footer>
</body>
</html>
